div.regular {
   margin: 1em auto;
   padding: 1em 3em;
   width: 25em;
   text-align: center;
}

label {
   text-align: left;
   display: inline-block;
   width: 9em;
}

input, button {
   margin: .5em;
}
