div.side {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 15%;
}

div.center {
    margin: 0.5em auto;
    text-align: center;
}

div.message {
    margin: 0.25em auto;
    width: 90%;
    padding: 0.2em;
    background-color: white;
    border: 1px solid black;
    box-shadow: 0 2px 2px grey;
}