div.side {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 15%;
    height: 100%;
}

div.scroll {
    overflow-y:scroll;
    height: 85%;
}

div.center {
    margin: 0 auto;
    text-align: center;
    height: 15%;
    position: relative;
}

button {
    bottom: 0.5em;
    left: 1em;
    position: absolute;
}

div.message {
    margin: 0.25em auto;
    width: 90%;
    padding: 0.2em;
    background-color: white;
    border: 1px solid black;
    box-shadow: 0 2px 2px grey;
}