* {
   font-family: sans-serif;
}

/* div.parent {
    display: -webkit-flex; 
    display: flex;
    align-items: -webkit-flex-start;
    align-items: flex-start;
} */

div.container {
    background-color: #f8f8f8;
    border: 1px solid black;
    box-shadow: 2px 3px 5px grey;
}

button {
   padding: 0.5em;
   border-radius: 10px;
   border: 1px solid black;
   box-shadow: 0 5px gray;
   font-size: 1em;
}

button.btn-blue {
   background-color: #222290;
   color: #eee;
}

button.btn-green {
   background-color: #229022;
   color: #eee;
}

/*darken background and lighten text*/
button.btn-blue:hover {
   background-color: #111190;
   color: white;
}

button.btn-green:hover {
   background-color: #119011;
   color: white;
}

/*animate button press*/
button:active {
   box-shadow: 0 1px gray;
   transform: translateY(4px);
}

body {
   background-color: #eeefef;
}
