<div class="container" *ngIf="exists">
  <p class="text">
    <input type="checkbox" (click)="complete()">
    <span *ngIf="!editing" (dblclick)="edit()">
      {{todo.text}} ({{todo.completed ? 'done!' : 'not done.'}})
    </span>
    <span *ngIf="editing">
      <input type="text" [(ngModel)]="todo.text" autocomplete="off">
      <button class="btn-blue" (click)="update()">Update</button>
      <button class="btn-red" (click)="delete()">Delete</button>
    </span>
  </p>
  <p class="date">{{prettyDate}}</p>
</div>
